@page "/appointmentReport"
@using Syncfusion.Blazor.PivotView
@using Pusula.Training.HealthCare.Appointments
@using Pusula.Training.HealthCare.Patients
@using Pusula.Training.HealthCare.Departments
@using Pusula.Training.HealthCare.Doctors

@inject IAppointmentsAppService AppointmentsAppService
@inject IDepartmentsAppService DepartmentsAppService
@inject IDoctorsAppService DoctorsAppService
@inject IPatientsAppService PatientsAppService
<div class="control-section">
    <div class="date-filters" style="margin-bottom: 20px; display: flex; gap: 10px; align-items: center;">
        <SfDatePicker TValue="DateTime?" Placeholder="Başlangıç Tarihi" @bind-Value="StartDate"></SfDatePicker>
        <SfDatePicker TValue="DateTime?" Placeholder="Bitiş Tarihi" @bind-Value="EndDate"></SfDatePicker>
        <SfButton CssClass="e-primary" OnClick="LoadFilteredData">Filtrele</SfButton>
    </div>
    <div class="content-wrapper">
        <div style="text-align: right; margin-bottom: 10px;">
            <SfButton CssClass="e-primary" IsPrimary="true" OnClick="@ExportToExcel">Export to Excel</SfButton>
        </div>
        <SfPivotView TValue="AppointmentPivotData" @ref="Pivot" Height="800" Width="100%" AllowExcelExport="true" ShowFieldList="true" EnableValueSorting=true ExpandAll="false">
            <PivotViewDataSourceSettings DataSource="@PivotData" EnableSorting="true">
                <PivotViewColumns>
                    <PivotViewColumn Name="AppointmentStatus" Caption="Randevu Durumu"></PivotViewColumn>
                </PivotViewColumns>
                <PivotViewRows>
                    <PivotViewRow Name="DepartmentName" Caption="Departman"></PivotViewRow>
                    <PivotViewRow Name="DoctorName" Caption="Doktor"></PivotViewRow>
                </PivotViewRows>
                <PivotViewValues>
                    <PivotViewValue Name="AppointmentCount" Caption="Randevu Sayısı" ></PivotViewValue>
                </PivotViewValues>
            </PivotViewDataSourceSettings>
            <PivotViewPageSettings ColumnPageSize="100" RowPageSize="100"></PivotViewPageSettings> <!-- Sayfa başına daha fazla veri -->
            <PivotViewGridSettings ColumnWidth="120"></PivotViewGridSettings>
        </SfPivotView>
    </div>
</div>
<style>
    .e-pivotview {
        min-height: 200px;
    }

    html, body {
        height: 100%;
    }
</style>
@code {
    
}
