@page "/doctors"
@using Pusula.Training.HealthCare.Permissions
@using Pusula.Training.HealthCare.Shared
@using Pusula.Training.HealthCare.Doctors
@using Volo.Abp.Identity
@using Pusula.Training.HealthCare.Titles
@using Syncfusion.Blazor.Navigations
@using Microsoft.AspNetCore.Authorization
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Pusula.Training.HealthCare.Blazor.Containers
@inject IDoctorsAppService DoctorsAppService
@inject DoctorsStateContainer DoctorsStateContainer





<div class="d-flex align-items-center justify-content-between mb-3">

    <div style="width: 30%;">
        <SfTextBox Placeholder="Ad,Soyad"
                   FloatLabelType="FloatLabelType.Never"
                   @bind-Value="FilterText"
                   Width="100%"
                   Input="@(async (args) => await OnSearchAsync(args))">
        </SfTextBox>
    </div>


    
</div>





<SfGrid DataSource="@DoctorsList" AllowPaging="true">
    <GridColumns>

        <GridColumn HeaderText="Doktor">
            <Template>
                @if (context is DoctorWithNavigationPropertiesDto doctor)
                {
                    @($"{doctor.Title?.Name ?? "Dr."} {doctor.User.Name} {doctor.User.Surname} ")
                }
            </Template>
        </GridColumn>


        <GridColumn Field="User.Email" HeaderText="Email"></GridColumn>


        <GridColumn Field="User.PhoneNumber" HeaderText="Telefon No"></GridColumn>

       @*  <GridColumn HeaderText="Detaylar" Width="120">
            <Template>
                @if (context is DoctorWithNavigationPropertiesDto doctor)
                {
                    <SfButton CssClass="e-primary" Content="Detaylar" @onclick="(() => NavigateToDoctorDetails(doctor.Doctor.Id))">
                    </SfButton>
                }
            </Template>
        </GridColumn> *@

        <GridColumn HeaderText="Detaylar" Width="120">
            <Template>
                @if (context is DoctorWithNavigationPropertiesDto doctor)
                {
                    <SfButton CssClass="e-primary" Content="Detaylar" @onclick="(() => NavigateToDoctorProtocols(doctor))">
                    </SfButton>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>

