@page "/"
@using Volo.Abp.MultiTenancy
@inherits HealthCareComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation

<div class="button-container">
    <button class="image-button" @onclick="OnButtonClick1">
        <img src="/images/main/Doctors-rafiki.png" alt="Button 1" class="button-image" />
        <span class="demoFont">Doctor</span>
    </button>

    <button class="image-button" @onclick="OnButtonClick2">
        <img src="/images/main/doctor-visit.png" alt="Button 2" class="button-image" />
        <span class="demoFont">PRM</span>
    </button>
</div>

@code {

    private void OnButtonClick1()
    {
        // Buton 1'e týklandýðýnda yapýlacak iþlemler
    }


    private void OnButtonClick2()
    {
        // Buton 2'ye týklandýðýnda yapýlacak iþlemler
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity.IsAuthenticated)
        {
            // Giriþ yapýlmamýþsa Login sayfasýna yönlendir
            Navigation.NavigateTo("/Account/Login");
        }
        
    }
}
