@page "/"
@using Volo.Abp.MultiTenancy
@inherits HealthCareComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation

<div class="button-container">
    <button class="image-button" @onclick="OnButtonClick1">
        <img src="/images/main/Doctors-rafiki.png" alt="Button 1" class="button-image" />
        <span class="demoFont">Doctor</span>
    </button>
    <button class="image-button" @onclick="OnButtonClick2">
        <img src="/images/main/doctor-visit.png" alt="Button 2" class="button-image" />
        <span class="demoFont">PRM</span>
    </button>
    <button class="image-button" @onclick="OnButtonClick3">
        <img src="/images/main/medical-appointment.png" alt="Button 3" class="button-image" />
        <span class="demoFont">APPOINTMENT</span>
    </button>
    <button class="image-button" @onclick="OnLaborerButtonClick">
        <img src="/images/main/laborerbutton.png" alt="Laborer" class="button-image" />
        <span class="demoFont">Lab Screen</span>
    </button>
</div>

@code {

    private void OnButtonClick1()
    {
         Navigation.NavigateTo("/doctors");
        // Buton 1'e týklandýðýnda yapýlacak iþlemler
    }


    private void OnButtonClick2()
    {
        Navigation.NavigateTo("/patients");
    }

    private void OnButtonClick3()
    {
        Navigation.NavigateTo("/appointment");
    }

    private void OnLaborerButtonClick()
    {
        Navigation.NavigateTo("/laborer-backlog");
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity.IsAuthenticated)
        {
            // Giriþ yapýlmamýþsa Login sayfasýna yönlendir
            Navigation.NavigateTo("/Account/Login");
        }
        
    }
}
