#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

:root .lpx-brand-logo {
    --lpx-logo: url('/images/logo/leptonx/halledeviz_logo.png');
    --lpx-logo-icon: url('/images/logo/leptonx/halledeviz_logo.png');
}


/* LAB CSS CLASSES*/

/*Searchbox*/
.lab-textbox.e-control-wrapper.e-input-group {
    border: 2px solid #f72585 !important;
    border-radius: 10px;
    box-shadow: none !important;
    outline: none !important;
}

    .lab-textbox.e-control-wrapper.e-input-group:focus-within {
        border-radius: 10px !important;
        border: 2px solid #f72585 !important;
        box-shadow: none !important;
        outline: none !important;
    }

/*Button*/
.lab-button.e-btn {
    border: 2px solid #f72585 !important;
    border-radius: 10px;
    background-color: #f72585;
    color: white;
}

/*Tab*/
.lab-tab.e-tab .e-tab-header .e-toolbar-item .e-tab-wrap:hover {
    background: #FFADDB !important;
    color: white;
    font-weight: bold;
}

.lab-tab.e-tab .e-tab-header .e-hor-nav .e-popup-up-icon:hover,
.e-tab .e-tab-header .e-hor-nav .e-popup-down-icon:hover {
    background: #FFADDB !important;
}

.lab-tab.e-tab .e-tab-header .e-toolbar-item.e-active {
    background: #f72585;
}

/*Test Result Info*/
.icon-alert::before {
    content: '\e7b3'; 
    font-family: 'e-icons';
    color: red; 
    font-size: 18px;
    margin-right: 5px;
}

.icon-safe::before {
    content: '\e7b2'; 
    font-family: 'e-icons';
    color: green; 
    font-size: 18px;
    margin-right: 5px;
}

/*Lab Grid*/
#lab-grid {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
}

    #lab-grid .e-gridheader,
    #lab-grid .e-gridfooter {
        border-radius: 10px 10px 0 0;
    }

    #lab-grid .e-gridcontent {
        border-radius: 0 0 10px 10px;
    }

/*Lab Toolbar*/
.lab-toolbar .e-toolbar {
    border-radius: 10px; 
    border: 1px solid #ccc; 
    overflow: hidden; 
}

    .lab-toolbar .e-toolbar .e-tbar-btn {
        border-radius: 5px; 
    }
