#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

:root .lpx-brand-logo {
    --lpx-logo: url('/images/logo/leptonx/halledeviz_logo.png');
    --lpx-logo-icon: url('/images/logo/leptonx/halledeviz_logo.png');
}


/* LAB CSS CLASSES*/

/*Searchbox*/
.lab-textbox.e-control-wrapper.e-input-group {
    border: 2px solid #f72585 !important;
    border-radius: 10px;
    box-shadow: none !important;
    outline: none !important;
}

    .lab-textbox.e-control-wrapper.e-input-group:focus-within {
        border-radius: 10px !important;
        border: 2px solid #f72585 !important;
        box-shadow: none !important;
        outline: none !important;
    }

/*Button*/
.lab-button.e-btn {
    border: 2px solid #f72585 !important;
    border-radius: 10px;
    background-color: #f72585;
    color: white;
}

/*Tab*/
.lab-tab.e-tab .e-tab-header .e-toolbar-item .e-tab-wrap:hover {
    background: #FFADDB !important;
    color: white;
    font-weight: bold;
}

.lab-tab.e-tab .e-tab-header .e-hor-nav .e-popup-up-icon:hover,
.e-tab .e-tab-header .e-hor-nav .e-popup-down-icon:hover {
    background: #FFADDB !important;
}

.lab-tab.e-tab .e-tab-header .e-toolbar-item.e-active {
    background: #f72585;
}

/*Test Result Info*/
.icon-alert::before {
    content: '\e7b3';
    font-family: 'e-icons';
    color: red;
    font-size: 18px;
    margin-right: 5px;
}

.icon-safe::before {
    content: '\e7b2';
    font-family: 'e-icons';
    color: green;
    font-size: 18px;
    margin-right: 5px;
}

/*Lab Grid*/
#lab-grid {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
}

    #lab-grid .e-gridheader,
    #lab-grid .e-gridfooter {
        border-radius: 10px 10px 0 0;
    }

    #lab-grid .e-gridcontent {
        border-radius: 0 0 10px 10px;
    }

/*Lab Toolbar*/
.lab-toolbar .e-toolbar {
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
}

    .lab-toolbar .e-toolbar .e-tbar-btn {
        border-radius: 5px;
    }


/*Appointment Modules*/

.e-custom.e-input-group, .e-custom.e-input-group.e-control-wrapper {
    height: 40px;
    border-radius: 10px !important; /* Köþeleri yuvarlamak için */
    border: 1px solid #f72585 !important; /* Yumuþak bir çerçeve */
    padding: 5px;
    border-color: #f72585 !important; /* Hover durumunda çerçeve rengi */
    box-shadow: 0px 0px 6px #a3bffa; /* Hafif bir gölge efekti */
}

.e-input-group.e-corner {
    border-radius: 10px !important;
    border: 1px solid #f72585 !important;
    width: 100% !important;
    padding: 5px;
    border-color: #f72585 !important; /* Hover durumunda çerçeve rengi */
    box-shadow: 0px 0px 6px #a3bffa; /* Hafif bir gölge efekti */
}

.custom-add-button {
    background-color: #f72585 !important; /* Arka plan rengi */
    border-color: #f72585 !important; /* Kenar rengi */
    color: #ffffff !important; /* Yazý rengi */
    border-radius: 6px; /* Köþeleri yuvarlama (opsiyonel) */
    padding: 8px 16px; /* Ýç boþluk ayarý */
}

    .custom-add-button:hover {
        background-color: #d61e70 !important; /* Hover efekti için renk */
        border-color: #d61e70 !important;
    }

.custom-clear-button {
    background-color: #ff87f7 !important; /* Arka plan rengi */
    border-color: #ff87f7 !important; /* Kenar rengi */
    color: #ffffff !important; /* Yazý rengi */
    border-radius: 6px; /* Köþeleri yuvarlama (opsiyonel) */
    padding: 8px 16px; /* Ýç boþluk ayarý */
}

    .custom-clear-button:hover {
        background-color: #d61e70 !important; /* Hover efekti için renk */
        border-color: #d61e70 !important;
    }
.custom-delete-button {
    background-color: #ff0040 !important; /* Arka plan rengi */
    border-color: #ff0040 !important; /* Kenar rengi */
    color: #ffffff !important; /* Yazý rengi */
    border-radius: 6px; /* Köþeleri yuvarlama (opsiyonel) */
    padding: 8px 16px; /* Ýç boþluk ayarý */
}

    .custom-delete-button:hover {
        background-color: #d61e70 !important; /* Hover efekti için renk */
        border-color: #d61e70 !important;
    }

.custom-doctor-button {
    background-color: #ff87f7 !important; /* Arka plan rengi */
    border-color: #ff87f7 !important; /* Kenar rengi */
    color: #ffffff !important; /* Yazý rengi */
    border-radius: 6px; /* Köþeleri yuvarlama (opsiyonel) */
    padding: 8px 16px; /* Ýç boþluk ayarý */
}


    .custom-doctor-button:hover {
        background-color: #d61e70 !important; /* Hover efekti için renk */
        border-color: #d61e70 !important;
    }
.form-control {
    border-radius: 10px;
    border-color: #ff0040;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

/*Lab Dialog*/
.lab-dialog .e-dialog {
    border-radius: 15px;
    border: 1px solid #ccc;
    overflow: hidden;
}
